
<div>
    {{#if connected}}
        <form id="formulaire" novalidate>
                <textarea type="text" id="textPoste" cols="100" rows="10" required></textarea>
                <div id="textPosteErreur" class="error-field"></div>
                <input type="submit" value="Publier" id="bouton"></input>
        </form>
    {{/if}}
    {{#unless connected}}
        <p>Connectez vous pour ajouter une publication.</p>
    {{/unless}}
        <ul id="publication" class="publication">
            {{#each postes}}
                <li class="postes">
                    <strong> {{this.name}}</strong> <br>
                    {{this.datetime}} <br>
                    {{this.text}} 
                    <div class="actionUser">
                        <p>
                            {{this.nbLikes}}<input type="button" id="boutonLike" value="J'aime"
                            data-id="{{this.id_post}}">
                        </p>
                        
                        {{#if ../statut}}
                            <input class="boutonDelete" type="button" 
                            value="Supprimer" data-id="{{this.id_post}}">
                        {{/if}}
                    </div>
                    
                </li>
                    
            {{/each}}
        </ul>
</div>


