
<div class="btnLinkRechercher">
    <a href="/search">Recherche</a>
</div>

<div>
    {{#if connected}}
        <form id="formulaire" novalidate>
                <textarea type="text" id="textPoste" cols="100" rows="10" required></textarea>
                <div id="textPosteErreur" class="error-field"></div>
                <input type="submit" value="Publier" id="bouton"></input>
        </form>
    {{/if}}
    {{#unless connected}}
        <p>Connectez vous pour ajouter une publication.</p>
    {{/unless}}
    <form id="formLike">
        <ul id="publication" class="publication">
            {{#each postes}}
                <li class="postes">
                    <strong> {{this.name}}</strong> <br>
                    {{this.datetime}}
                    <div id="div">
                                {{this.text}} 
                                <div>
                                    {{this.nbLikes}}
                                    <input type="submit" value="J'aime"
                                    data-id="{{this.id_post}}"
                                    >
                                        
                                </div> 
                                
                        </div>
                <!--  <input type="checkbox"
                    {{#if this.checked}} checked {{/if}}
                    data-id="{{this.id_user}}"
                    >
                    <label> Suivre</label>
                    -->
                </li>
                    
            {{/each}}
        </ul>
    </form>
</div>


